// Scss - while문
// value값이 base보다 작을 때까지 일정한 값으로 계속 나눠준다.

$hojun: 10;
@while $hojun > 1 {
  $hojun: $hojun - 2;
  .content-#{$hojun} {
    width: 100px;
    height: 100px;
    background: red;
  }
}